$color_text_color:rgb(80, 80, 80);
$color_primary: #1168ca;
$color_dark: #041f35ee;
$color_primary_light:#9CD1FF;

$color_white: #fff;
$error_response:#F55128;
$color_success_response:#00ad23;
$border_gray_light:rgb(230, 230, 230);
$table_color_bg: white;
$border_color: #e3e3e3;
$white_color: white;
$bg_gray_color: #fcfcfc;
$bg_white_color: white;
$color_gray: rgb(143, 143, 143);