.selectorContainer {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 15% 15%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
}
.message-container {
  margin: 10px;
}
.main-container {
  padding: 20;
}
.selector:focus {
  outline: none;
  flex-grow: 1;
  height: 40px;
  padding-left: 10px;
  color: rgb(75, 74, 74);
}

#selector:focus {
  border: 1px solid rgb(199, 199, 199);
  height: 40px;
  box-shadow: none;
}
.submit-student {
  border: 1px solid blue;
}
.progresscontainer {
  margin-top: 50px;
}
.dotprogress {
  display: none;
  height: 0px;
  visibility: hidden;
}
.btn-submit {
  background-color: "#1168ca";
  color: "white";
  float: right;
}
.btn-cancel{
  float: left;
  margin-right: 100px;
}
.btn-container{
  width: 100%;
  justify-content: space-between;
}
#footer{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: .5rem;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"],input[type="number"],select {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
.controlcontainer{
  margin-bottom: 0px !important;
}
.modalb{
  padding: .5rem;
}
.selectorinner{
  min-width: 500px;
  display: flex;
  justify-content: space-between;

}
#year{
  margin-left: 10px;
}